vendor
node_modules
npm-debug.log
.DS_Store
.env
/storage/*.key
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
